<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifba.talkshow" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".gui.AnuncianteCad"
            android:label="@string/title_activity_anunciante_cade" >
        </activity>
        <activity
            android:name=".gui.TalkShow"
            android:label="@string/title_activity_talk_show" >
        </activity>
    </application>

</manifest>
